a,
h2,
h3 {
  font-family: "sans-serif", Arial, Helvetica, sans-serif;
  color: #f2c85c;
  margin-bottom: 3px;
}

h1 {
  font-family: "sans-serif", Arial, Helvetica, sans-serif;
  color: #f2c85c;
  text-align: center;
}

#job_table {
  font-family: "sans-serif", Arial, Helvetica, sans-serif;

  border-collapse: collapse;
  width: 100%;
}

#job_table td,
#job_table th {

  border-radius: 10px 10px 0 0;
  padding: 20px;

}

#job_table tr {
  border-bottom: 1px solid  #f2c85c
}

#job_table tr:hover {
  background-color:  #f2c85c;
}

#job_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #f2c85c;
  color: white;
}

button {
  color: white;
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 1.2em;
  border: 2px solid  #f2c85c;
  border-radius: 5px;
  margin-top: 10px;
  background-color:  #f2c85c;
  outline-color:  #f2c85c
}

input {
  outline-color: skyblue;
  display: block;
  width: 30%;
  margin: 0 auto;
  border: 1px solid #ded6ce;
  box-shadow: 2px 2px 10px #f4f4f4;
  border-radius: 5px;
  padding: 1em;
  margin-top: 10px
}

.icon {
  float: right;
  font-size: 2em;
  padding-bottom: 0.2em;
  position: relative;
  /* height: 50px;
  right: -5px; */
}
input {
  outline-color: #f2c85c;
  display: block;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ded6ce;
  box-shadow: 2px 2px 10px #f4f4f4;
  border-radius: 5px;
  padding: 1em;
  margin-top: 10px
}

#label {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 60vh;
  padding: 15px 0 15px 0;
  background-color: #f2c85c;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
}

#box {
  width: 70vh;
  height: 50vh;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 3px #e8e7e6;
  padding: 100px 30px 60px 30px;
}

img {
  display: block;
  width: 70%;
  margin: auto;
}

button {
  color: white;
  display: block;
  width: 65%;
  margin: 0 auto;
  padding: 1.2em;
  border: 2px solid #f2c85c;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f2c85c;
  outline-color: #f2c85c;
}

#ref {
  color: #ded6ce;
  font-family: Arial, Helvetica, sans-serif;
  width: 70vh;
  text-align: right;
  margin: 0 auto;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  #label {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 30vh;
    padding: 15px 0 15px 0;
    background-color: #f2c85c;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
  }
  #box {
    width: 30vh;
    height: 30vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px #e8e7e6;
    padding: 70px 30px 60px 30px;
  }

  #ref {
    color: #ded6ce;
    font-family: Arial, Helvetica, sans-serif;
    width: 30vh;
    text-align: right;
    margin: 0 auto;
    padding-top: 10px;
  }
}