<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <main>
		<div style="height: 10vh;"></div>
		<div id="label">Job Search</div>
		<div id="box">
    <img src="https://cdn.shopify.com/s/files/1/1690/2655/files/bornhotelier-job_search_large.png?v=1499313263">
    <form action="/report">
        <input type="text" name="param" >
        <button type="submit">Find my jobs</button>
      </form>
  
      </div>
     
    </main>
    
</body>
</html>