<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <img src="https://st2.depositphotos.com/3591429/7157/i/600/depositphotos_71571591-stock-photo-job-search-qualification-concept.jpg">
    <h1>Are you looking for a new job?</h1>
    <form action="/report" method="get">
        <input placeholder= 'python' required name = 'param'/><button>Search</button>
        
        <!-- <input type="text" class="form__input" id="name" placeholder="Full name" required="param" /> -->
    </form>
    
</body>
</html>